<div class="container mt-5">
    <h1 class="text-center">{{title}}</h1>
    <div class="d-flex justify-content-center mt-4">
        <button id="storyBtn" class="btn btn-primary mx-2">La Storia</button>
        <button id="projectBtn" class="btn btn-primary mx-2">Il Progetto</button>
        <button id="beforeBtn" class="btn btn-primary mx-2">Prima/Dopo</button>
    </div>
    <div class="mt-4 text-center">
        <button id="closeBtn" class="btn btn-danger close-btn">Chiudi</button>
    </div>
</div>
