<div class="container mt-5 h-75">
    <h1 class="text-center">{{title}}</h1>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <button id="storyBtn" class="btn btn-primary my-2 w-50">La Storia</button>
        <button id="projectBtn" class="btn btn-primary my-2 w-50">Il Progetto</button>
        <button id="beforeBtn" class="btn btn-primary my-2 w-50">Prima/Dopo</button>
    </div>
    <div class="mt-4 text-center">
        <button id="closeBtn" class="btn btn-secondary close-btn"><i class="bi bi-x"></i></button>
    </div>
</div>