<!-- templates/year-overlay.html -->
<div id="yearOverlay" class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-75 d-flex justify-content-center align-items-center" style="z-index: 1050;">
    <div class="container text-white">
        {{#year}}
            <h1 id="yearTitle">{{year}}</h1>
        {{/year}}
        {{^year}}
            <h1 id="yearTitle">Year Not Available</h1>
        {{/year}}

        {{#details}}
            <p id="yearDetails">{{details}}</p>
        {{/details}}
        {{^details}}
            <p id="yearDetails">Details not available for this year.</p>
        {{/details}}

        {{#image}}
            <img id="yearImage" src="{{image}}" class="img-fluid" alt="Year {{year}}" onerror="this.onerror=null; this.src='media/default.svg';">
        {{/image}}
        {{^image}}
            <img id="yearImage" src="media/default.svg" class="img-fluid" alt="Default Year Image">
        {{/image}}

        <div class="mt-4 text-center">
            <button id="closeYearBtn" class="btn btn-danger">Close</button>
        </div>
    </div>
</div>
